body {
    background-color: #F5F5F5;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    min-width: 600px;
    overflow: ;
}
.navigation {
    font-weight: 600;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(233, 237, 201, 0.8);
    backdrop-filter: blur(4px);
    font-size: 2.5rem;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    margin-top: 0;
    margin-bottom: 0;
    z-index: 2;
}
header {
    display: inline;
    margin-left: 3vw;
}
button {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
#sidebar-button {
    position: absolute;
    right: 0;
    margin-right: 3vw;
    z-index: 3;
}
nav ul {
    list-style: none;
    position: fixed;
    width: 0;
    height: 200vh;
    top: 0;
    margin: 0;
    right: 0;
    background-color: rgb(200, 204, 170);
    transition: 0.3s;
    padding-top: 7rem;
    padding-bottom: 0;
    padding-left: 0;
    z-index: 2;
}
nav ul li {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    border-bottom: 2px solid #e9edc9;
}
.main {
    background: linear-gradient(to bottom, #F5F5F5, #F0F8FF);
    justify-self: center;
    margin-top: 5rem;
    padding-top: 60px;
    padding-bottom: 60px;
}
.social-media-icons {
    text-align: center;
    align-items: center;
}
.social-media-icons a {
    margin-left: calc(8px + 0.5vw);
    margin-right: calc(8px + 0.5vw);
}
.self-photo {
    height: calc(350px + 10vw);
    position: relative;
    margin: 0, auto;
    padding-top: 10px;
    padding-bottom: calc(15px + 1vw);
    overflow: hidden;
    align-content: center;
    text-align: center;
}
.self-photo img {
    height: 100%;
    width: auto;
    object-fit: contain;
}
article {
    margin-left: 0;
    padding-top: 1vw;
    padding-bottom: 2vw;
    hyphens: auto;
    overflow-wrap: break-word;
    word-break: normal;
    font-family: "Handlee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.2rem;
    letter-spacing: 1px;
    margin-left: 3vw;
    margin-right: 3vw;
}
article::first-letter {
    font-size: 2.6em;
    float: left;
    line-height: 1;
    margin-top: 3px;
    margin-bottom: -15px;
    margin-right: 10px;
}
.contact {
    justify-content: center;
    background: linear-gradient(to bottom, #FAFAFA, #F0F8FF);
    padding-top: 100px;
    padding-bottom: 150px;
}
#contact-header {
    text-align: center;
    align-items: center;
    font-size: 5rem;
    min-width: 30vw;
    padding-top: 1rem;
    padding-bottom: 30px;
}
.contact-body {
    font-size: 2.5rem;
    text-align: center;
    align-items: center;
}
.contact-info {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 15px;
    margin: 0 auto;
    width: 80%;
}
.contact-info > :nth-child(2n) {
    text-align: left;
}
.contact-info > :nth-child(2n+1) {
    text-align: center;
}
.contact-info > * {
    align-self: center;
}
.fa-brands, .fa-solid {
    font-size: calc(70px + 1vw);
}
iframe {
    margin-top: 30px;
}
footer {
    background-color: #F0F8FF;
    text-align: center;
    font-size: 1.6rem;
    padding-top: 20px;
    padding-bottom: 20px;
}
a {
    white-space: nowrap;
}
a:not(.social-media-icons a) {
	color: black;
    position: relative;
    text-decoration: none;
    z-index: 1;
}
a:not(.social-media-icons a)::before {
    content: '';
    background-color: hsla(196, 61%, 58%, .75);
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 4px;
    z-index: -1;
    transition: all .3s ease-in-out;
}
a:not(.social-media-icons a):hover::before {
    bottom: 0;
    height: 100%;
}
.social-media-icons a {
    text-decoration: none;
    color: inherit;
    transition: text-shadow 0.3s ease;
}
.social-media-icons a:hover {
    text-shadow: 0 0 10px hsla(196, 61%, 58%, .75), 0 0 20px hsla(196, 61%, 58%, .75), 0 0 30px hsla(196, 61%, 58%, .75);
}
@media screen and (min-width: 1000px) {
    .navigation {
        height: 5rem;
        font-size: 2rem;
    }
    header {
        margin-left: calc(6vw - 18px);
    }
    #sidebar-button {
        display: none;
    }
    nav ul, nav ul li {
        all: unset;
    }
    nav ul {
        display: flex;
        list-style: none;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 3vw;
    }
    nav ul li {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 15px;
        margin-right: 15px;
    }
    .main {
        display: flex;
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .self-info {
        display: inline;
    }
    .self-photo {
        height: calc(200px + 10vw);
    }
    .social-media-icons a {
        margin-left: calc(4px + 0.5vw);
        margin-right: calc(4px + 0.5vw);
    }
    article {
        padding-left: 6vw;
        padding-right: 0;
        margin-right: 0;
        font-size: 1.8rem;
    }
    .contact {
        display: flex;
    }
    #contact-header {
        display: inline;
        text-align: right;
        font-size: 4rem;
        padding-right: 5vw;
        padding-bottom: 0;
    }
    .contact-body {
        text-align: left;
        font-size: 1.5rem;
        max-width: 600px;
        padding-left: 5vw;
    }
    .contact-info {
        width: 100%;
        justify-self: left;
    }
    .fa-brands, .fa-solid {
        font-size: calc(25px + 2.5vw);
    }
    footer {
        font-size: 1.2rem;
    }
}
@media (orientation: portrait) {
    body {
        width: 100%;
    }
}
@media (orientation: landscape) {
    body {
        width: 100%;
    }
}